<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Shift</title>
</head>
<body>
    <h1>Delete Shift</h1>
    <p>Are you sure you want to delete the shift for </p>

    <ul>
        <li><strong>Name:</strong> {{ shift.user.first_name }} {{ shift.user.last_name }}</li>
        <li><strong>Start:</strong> {{ shift.start }}</li>
        <li><strong>End:</strong> {{ shift.end }}</li>
        {% if shift.notes %}
            <li><strong>Notes:</strong> {{ shift.notes }}</li>
        {% endif %}
    </ul>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
        <a href="{% url 'branch_schedule' business.id %}">Cancel</a>
    </form>
</body>
</html>