<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hours</title>
</head>
<body>
    <h2>{{ business.name }} — My hours Worked</h2>
    <section>
        <h3>This Week</h3>
        <h4>Clocked Hours</h4>
        <p> {{ week_start }} to {{ week_end }}: {{ week_hours }}h {{ week_minutes }}</p>
        <h4>Scheduled Hours</h4>
        <p> {{ week_start }} to {{ week_end }}: {{ week_sched_hours }}h {{ week_sched_minutes }}</p>
    </section>
        <h3>This Month</h3>
        <h4>Clocked Hours</h4>
        <p> {{ month_start }} to {{ month_end }}: {{ month_hours }}h {{ month_minutes }}</p>
        <h4>Scheduled Hours</h4>
        <p> {{ month_start }} to {{ month_end }}: {{ month_sched_hours }}h {{ month_sched_minutes }}</p>
    </section>

    <section>
    </section>

    <hr>

    <a href="{% url 'dashboard' %}">
        <button type="button">Back to Dashboard</button>
    </a>

</body>
</html>